---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSequence from '../components/HeroSequence.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro'; // Your next section
import Footer from '../components/Footer.astro';
import PrisingHeader from '../components/PricingHeader.astro';
import FeaturesSideBySide from '../components/FeaturesSideBySide2.astro';
import RadarSection from '../components/RadarSection.astro';
import TemplateGallery from '../components/TemplateGallery.astro';
import FaqSection from '../components/FaqSection.astro';
import MeetingSection from '../components/MeetingsSection.astro';
import StackScrollSection from '../components/StackScrollSection.astro';
---

<Layout title="Production that runs itself | Antimetal">
  <Header />
  
  <main>
    <Hero />
    
    
	
	<section class="snap-start min-h-screen">
    <FeaturesSideBySide />
  </section>
     <!-- <PrisingHeader /> -->
	 <TemplateGallery />


    
	<StackScrollSection />
	<MeetingSection />
	<RadarSection />
	<FaqSection />
    <Footer />
  </main>
</Layout>